.motto {
	width: 100%;
	min-width: 1200px;
	height: 175px;
	overflow: hidden;
	text-indent: 110px;
	color: #fff;
	background: center url(../img/bar.jpg);
}
.motto_1 {
	font-size: 40px;
	font-weight: bold;
	margin-top: 40px;
}
.motto_2 {
	font-size: 30px;
	margin-top: 15px ;
}	
