.flowerItemCon {
	//overflow: hidden;
}
.flowerItem {
	margin-top: 60px;
	margin-bottom: 85px;
	height: 680px;
	padding-bottom: 7px;
}

.flowerItem >div {
	margin-right: 10px;
	margin-bottom: 7px;
	
}
.flowerItem div img {
	display: block;
}

.fb2 {
	width: 720px;
	height: 360px;
	background: red;
}

.fb2 .maskfcs {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	//width: 80%;
	//height: 80%;
	//margin: auto;
	background: #000;
	overflow: hidden;
	z-index: 3;
	display: none;
}
.arrowC {
	position: absolute;
	width: 60px;
	height: 60px;
	background:center url(../../img/btn_close.png) no-repeat;
	top: 40px;
	right: 40px;
	cursor: pointer;
}

.arrowL, .arrowR {
	display: inline-block;
	width: 60px;
	height: 80px;
	background-image: url(../../img/btn_next_prev.png);
	position: absolute;
	top: 0;
	bottom: 0;	
	margin: auto;
	cursor: pointer;
}
.arrowL {
	left: 40px;
	background-position: top;
}
.arrowR {
	right: 40px;
	background-position: 0 -80px;
}
.arrowL:hover {
	background-position: bottom;
}
.arrowR:hover {
	background-position: 0 162px;
}

.maskCon {
	position: absolute;
	width: 740px;
	height: 360px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.maskL img, .maskR img {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 300px;
	height: 300px;
	border: 5px solid #fff;
	margin: auto;
}
.maskL img {
	left: 0;
}
.maskR img {
	right: 0;
}
.maskMid img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 340px;
	height: 340px;
	border: 10px solid #fff;
	margin: auto;
	z-index: 1;
}

.fb3 span {
	width: 230px;
	height: 320px;
	overflow: hidden;
}
.fb3 img {
	width: 240px;
}

.fb2 img, .fb3 img {
	cursor: pointer;
	
}
.fb3 span:hover img{
	margin-left: -10px;
	
}
img {
	transition:  0.5s;
}
 

 


